<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project1">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="com.android.hardware" />
    <uses-feature android:name="com.android.hardware.Camera.focus" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hair"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hair"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Check_Availability_Of_Shop"></activity>
        <activity android:name=".Account_Booking_History" />
        <activity android:name=".Catagory_Search" />
        <activity android:name=".Account_Manage_Profile" />
        <activity android:name=".Account_Help" />
        <activity android:name=".Account_Feedback" />
        <activity android:name=".Account_Notification" />
        <activity android:name=".showbooking_Cart" />
        <activity android:name=".Bookin_status_show" />
        <activity android:name=".Booking_shop_Customer_1st" />
        <activity android:name=".CustomerSignedIn1" />
        <activity
            android:name=".BookingShopDetails"
            android:label="Booking" />
        <activity android:name=".EntryToApp" />
        <activity android:name=".OwnerViewDetails_From_Cardview" />
        <activity android:name=".OwnerPage" />
        <activity android:name=".OwnerSignedIn" />
        <activity android:name=".OwnerPermissionCheck" />
        <activity android:name=".AdminCheckNewShopAcceptance" />
        <activity android:name=".AdminPage" />
        <activity android:name=".signupOTP_Verification" />
        <activity android:name=".Sign_up" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".LoginPage" />
        <activity android:name=".BookAppoinment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>